.calendar-container {
    max-width: 300px;
    margin: 0 auto;
}

.calendar-container>.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-container>.calendar-header>h2 {
    font-size: 18px;
}

.calendar-container>.calendar-header>button {
    background-color: #0074cc;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.calendar-container>.calendar-header>button:hover {
    background-color: #0056a7;
}

.calendar-container>.calendar {
    width: 100%;
}

table {
    border-collapse: collapse;
}

.calendar-container>.calendar>thead>tr>th,
.calendar-container>.calendar>tbody>tr>td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.calendar-container>.calendar>thead>tr>th {
    background-color: #f2f2f2;
}

.calendar-container>.calendar>tbody>tr>td {
    cursor: pointer;
}

.calendar-container>.calendar>tbody>tr>td:hover {
    background-color: #f2f2f2;
}

.today {
    background-color: lightblue;
}

.current_day {
    background-color: #b42372;
    color: #fff;
}

#current-month {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .calendar-container {
        width: 400px;
    }

    .calendar-container>.calendar-header {
        flex-direction: column;
        text-align: center;
    }

    .calendar-container>.calendar-header>button {
        margin: 5px;
    }

    .calendar-container>.calendar>thead>tr>th,
    .calendar-container>.calendar>tbody>tr>td {
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    .calendar-container {
        width: 220px;
    }
}

@media only screen and (max-width: 320px) {

    .calendar-container>.calendar>thead>tr>th,
    .calendar-container>.calendar>tbody>tr>td {
        font-size: 14px;
    }
}