:root {
  --theme: #02001c;
  --mainContentBG: #efefef;
  --titleTheme: #070065;
  --titleEm: gray;
}

/* CONTENT CONTENT CONTENT CONTENT */

.content {
  /* parent */
  display: flex;
  height: 100vh;
  /* child */
  flex-direction: column;
  align-items: stretch;
}

.content>nav {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 15px 50px;
}

.content>nav>a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  text-decoration: none;
}

.content-header {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 0, 29);
  position: relative;
  padding: 30px 60px;
  gap: 10px;
}

.content-header>header {
  display: flex;
}

.content-header>header>.title {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
}

.content-header>header>.title>h1 {
  margin: 0px;
}

.content-header>header>.title>h1>em {
  font-weight: 100;
  font-style: normal;
  color: var(--titleEm);
}

.content-header>header>.title>small {
  display: block;
}

.content-header>header>.action {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.content-header>header>.action button i {
  color: white;
  font-size: 25px;
}

.content-header>.cards {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.cards>.card>sub,
.cards>.card>sup {
  display: block;
  font-size: medium;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.content>.tabs {
  /* parent */
  display: flex;
  background-color: var(--theme);
  padding: 0px 50px;
  /* child */
  flex-wrap: wrap;
}

.content>.tabs>.tab {
  /* parent */
  display: flex;
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: var(--mainContentBG);
  /* child */
  column-gap: 5px;
  justify-content: center;
  font-weight: bold;
}

.content>.tabs>.tab:hover {
  filter: brightness(90%);
}

/* ADDED MAIN & FLOATING WITH MODIFICATIONS */
.content>main>.floating>.tabs {
  /* parent */
  display: flex;
  padding: 0px 100px;
  /* child */
  flex-wrap: wrap;
}

.content>main>.floating>.tabs>.tab {
  /* parent */
  display: flex;
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border: none;
  background-color: var(--theme);
  color: #fff;
  /* child */
  column-gap: 5px;
  justify-content: center;
  font-weight: bold;
}

/* ADDED MAIN & FLOATING WITH MODIFICATIONS */

/* ADDED OLD CSS FROM FRONT END */
.content>main>.floating>main>.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  min-width: 600px;
  height: auto;
}

.content>main>.floating>main>.info-box>.info {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.content>main>.floating>main>.info-box>.info>span {
  font-weight: 700;
  width: 300px;
  text-align: center;
}

.content>main>.floating>main>.info-box>.info>input {
  width: 100%;
  text-align: center;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

.content>main>.floating>main>.info-box>.info>.selection-box {
  width: 100%;
}

.content>main>.floating>main>.info-box>.info>.selection-box>select {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
  align-self: stretch;
}

/* ADDED OLD CSS FROM FRONT END */

.tab>.selection-btn {
  border: none;
  cursor: pointer;
  width: 550px;
  height: 40px;
  color: #fff;
}

.content>main {
  /*parent*/
  display: flex;
  flex: 1;
  gap: 30px 30px;
  padding: 25px;
  background-color: var(--mainContentBG);
  /*child*/
  flex-direction: column;
  align-items: stretch;
}

/* ADDED CONTENT TO ACTION */
.content>main>.action {
  display: flex;
  justify-content: flex-end;
}

/* ADDED CONTENT TO ACTION */

/* FLOATING FLOATING FLOATING FLOATING */

.floating {
  /*parent*/
  display: flex;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  padding: 30px;
  border-radius: 10px;

  /* child */
  flex-direction: column;
  margin-block: 0px;
  gap: 15px;
}

.floating>header {
  display: flex;
}

.floating>header>.title {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
}

.floating>header>.title>h3>em {
  font-weight: normal;
  font-style: normal;
  color: var(--titleEm);
}

.floating>header>.title>h3 {
  margin: 0px;
  color: var(--titleTheme);
}

.floating>header>.title>small {
  display: block;
}

/* ADDED ROOM-SELECTOR */
.floating>header>.room-selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  width: 100%;
}

/* ADDED ROOM-SELECTOR */

.floating>header>.action {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.floating>header>.action button i {
  color: black;
  font-size: 20px;
}

.floating>main {
  overflow-x: auto;
}

/* ADDED TIMESTAMP */
.floating>main>table>.timestamp>tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* ADDED TIMESTAMP */

/* RECYCLED CSS FROM OLD FRONT END */
.floating>main>.section-table {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  height: auto;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.floating>main>.section-table>.selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.floating>main>.section-table>.table-schedule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* RECYCLED CSS FROM OLD FRONT END */

.floating>main>.menu {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.floating>main>.menu>.item {
  display: flex;
  padding: 0px 10%;
  column-gap: 10px;
}

.floating>main>.menu>.item span:first-child {
  display: flex;
  flex: 1 0 300px;
  justify-content: left;
  font-weight: bold;
}

.floating>main>.menu>.item>span {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  flex: 0 0 120px;
  /*set to fixed button width*/
  background-color: wheat;
  justify-content: center;
}

.floating>main>.menu>.item>span.status {
  color: var(--titleEm);
}

.floating>.action {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  gap: 5px;
}