:root {
  --theme: #02001c;
  --mainContentBG: #efefef;
}

/* CONTENT CONTENT CONTENT CONTENT */

.content {
  /* parent */
  display: flex;
  height: 100vh;
  /* child */
  flex-direction: column;
  align-items: stretch;
  transition-duration: 0.4s;

  /* Font sizes */
  * {
    font-size: 14px;
  }
  thead {
    font-size: 16px;
  }
  tbody {
    font-size: 14px;
  }
  h1,
  h1 > em {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 18px;
  }
  small {
    font-size: 14px;
  }
}

.content > nav {
  padding: 15px 50px;
}

.content-header {
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgb(3, 0, 29);
  position: relative;
  padding: 30px;
  gap: 10px;
}
.content-header > header {
  display: flex;
  flex-direction: row;
}

.content-header > header > .title {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
}

.content-header > header > .title > h1 {
  margin: 0px;
}
.content-header > header > .title > h1 > em {
  font-weight: 100;
  font-style: normal;
}
.content-header > header > .title > small {
  display: block;
}
.content-header > header > .action {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.content-header > .cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.cards > .card > sub,
.cards > .card > sup {
  display: block;
  font-size: medium;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.content > .tabs {
  /* parent */
  display: flex;
  background-color: var(--theme);
  padding: 0px 50px;
  /* child */
  flex-direction: row;
  flex-wrap: wrap;
}

.content > .tabs > .tab {
  /* parent */
  display: flex;
  flex: 1;
  padding: 10px;
  background-color: var(--mainContentBG);
  /* child */
  justify-content: center;
  font-weight: bold;
}

.tab i {
  padding: 0px 5px 0px 5px;
}

.content > main {
  /*parent*/
  display: flex;
  flex: 1;
  gap: 30px 30px;
  padding: 25px;
  background-color: var(--mainContentBG);
  /*child*/
  flex-direction: column;
  align-items: stretch;
}

/* FLOATING FLOATING FLOATING FLOATING */

.floating {
  /*parent*/
  display: flex;
  background: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 10px;

  /* child */
  flex-direction: column;
  margin-block: 0px;
  gap: 15px;
}
.floating > header {
  display: flex;
  flex-direction: row;
}
.floating > header > .title {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px;
}
.floating > header > .title > h3 {
  margin: 0px;
}
.floating > header > .title > small {
  display: block;
}
.floating > header > .action {
  display: flex;
  align-items: center;
}

.floating > header > .action > i {
  padding: 0px 20px;
}

.floating > main {
  overflow-x: auto;
}

.floating > .action {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 5px;
}
