* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --mainTheme: #440203;
    --itemBG: #1f0404;
    --theme1: rgb(221, 221, 221);
    --theme2: #fff;
}

/* NAVBAR */
nav {
    background-color: var(--mainTheme);
    height: 80px;
    width: 100%;
}

#check {
    display: none;
}

nav>.check-btn {
    display: none;
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

nav>.logo {
    line-height: 30px;
    padding: 0 80px;
}

nav>.logo>a>img {
    width: 60px;
    height: 60px;
    margin-top: 10px;
    border-radius: 30px;
}

nav>ul {
    float: right;
    margin-right: 30px;
}

nav>ul>li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav>ul>li>a {
    color: white;
    font-size: 16px;
}

nav>ul>li>a:hover {
    color: #cccccc;
    transition: .5s;
}

/* RESPONSIVE NAVBAR */
@media (max-width: 952px) {
    nav>.logo {
        padding-left: 50px;
    }
}

@media (max-width: 858px) {
    nav>.check-btn {
        display: block;
    }

    nav>ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--itemBG);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav>ul>li {
        display: block;
        margin: 50px 0;
    }

    nav>ul>li:hover {
        background-color: #640405;
    }

    nav>ul>li>a {
        font-size: 18px;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* CONTENT */
.content {
    height: 100vh;
    flex-direction: column;
    align-items: stretch;
}

.content-header {
    background: url(others/DCBT-Building.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 120px);
}

.content-header>.logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}

.content-header>.logo-title>img {
    margin: 0;
    width: 125px;
    height: 125px;
    border-radius: 60px;
}

.content-header>.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.content-header>.title>h2 {
    font-family: 'IM Fell Double Pica', serif;
    color: #fff;
    font-weight: 400;
}

.content>main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 150px);
}

.slide-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: var(--theme1);
    padding: 10px;
}

.slide-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme2);
    margin-block: 0px;
    flex: 1;
}

.slide-1>header,
.slide-2>header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0;
    flex: 1;
    width: 100%;
}

.slide-1>header>.title,
.slide-2>header>.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    align-self: stretch;
    width: 100%;
}

.slide-1>header>.title>h2,
.slide-2>header>.title>h2 {
    font-weight: 300;
    font-style: normal;
}

.slide-1>main,
.slide-2>main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 30px;
    flex: 1;
    width: 100%;
}

.slide-2>main>.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.slide-2>main>.item>.fb-post {
    max-width: 60%;
}

.slide-2>main>.item>h3 {
    padding: 5px;
}

.slide-2>main>.item>div {
    padding: 5px;
}

.slide-2>main>.item>div>p {
    padding: 5px;
}

.slide-1>.carousel {
    padding: 30px;
    flex-grow: 2;
}

.slide-1>.carousel>img {
    width: 600px;
    height: 350px;
}

.slide-1>.carousel>h2 {
    font-weight: 300;
}

.slide-1>.carousel>.action {
    padding-top: 5px;
}

.slide-1>.carousel>.action>.enroll {
    text-align: center;
    background-color: #BB4444;
    color: #fff;
    min-width: 100px;
    min-height: 30px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.slide-1>.carousel>.action>.enroll:hover {
    background-color: #692020;
    transition-duration: .3s;
}

.slide-2>main>.slideshow-container {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    position: relative;
    margin: auto;
}

.slide-2>main>.slideshow-container>.slide {
    display: none;
}

.slide-2>main>.slideshow-container>.slide.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slide-2>main>div>.dot {
    cursor: pointer;
    position: relative;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slide-2>main>div>.dot.active,
.slide-2>main>div>.dot:hover {
    background-color: #717171;
}

.slide-2>main>.slideshow-container>.number {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slide-2>main>.slideshow-container>.prev,
.slide-2>main>.slideshow-container>.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slide-2>main>.slideshow-container>.prev:hover,
.slide-2>main>.slideshow-container>.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-2>main>.slideshow-container>.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* RESPONSIVE CONTENT */
@media (max-width: 1080px) {
    .content-header {
        flex-direction: row;
        height: calc(100vh - 220px);
    }

    .content-header>.logo-title {
        padding-top: 160px;
    }

    .content-header>.logo-title>img {
        width: 100px;
        height: 100px;
    }

    .content-header>.title>h2 {
        font-size: 20px;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .content-header {
        flex-direction: row;
        height: calc(100vh - 200px);
    }
}