:root {
  --base: 600px;
  --activeProgress: #8fafff;
  --inactiveProgress: #e4e4e4;
}

form .row {
  display: flex;
  flex: 1;
  gap: 15px;
  padding: 10px;
}

form .row > span {
  display: flex;
  flex: 3 1 auto;
  gap: 10px;
}

form .row > span.small {
  flex: 1 2 auto;
}

form .row > span.x-small {
  flex: 0 3 auto;
  width: 100px;
}

form label {
  font-weight: bold;
}

form .row > span > div {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

form .row > span > div > input {
  width: 99%;
}

.content form > .action {
  display: flex;
  justify-content: end;
  align-items: center;
}

.content .progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10% 30px 10%;
}

.content .progress > .line {
  background-color: var(--inactiveProgress);
  height: 3px;
  flex: 1;
}

.content .progress > .dot {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.content .progress > .inactive {
  background-color: var(--inactiveProgress);
}

.content .progress > .active {
  background-color: var(--activeProgress);
}

.content .progress > .dot p {
  white-space: nowrap;
  display: flex;
  column-gap: 5px;
  align-items: center;
  font-weight: bold;
  position: relative;
  top: 30px;
}

@media only screen and (max-width: 800px) {
  form > .row > span > label {
    display: block;
  }
  form .row {
    flex-wrap: wrap;
  }

  form .row > span {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
