:root {
  --1: lightblue;
  --2: lightcoral;
  --3: lightgreen;
  --4: rgb(57, 197, 185);
  --5: rgb(219, 88, 165);
  --6: rgb(50, 216, 166);
}

/* colors for nav */
.drop.gas,
.dropdown.bcm {
  background-color: var(--1);
}

.drop.ict,
.dropdown.bpe {
  background-color: var(--2);
}

.drop.humss,
.dropdown.bae {
  background-color: var(--3);
}

.drop.abm,
.dropdown.bse {
  background-color: var(--4);
}

.drop.ia,
.drop.btte {
  background-color: var(--5);
}

.dropdown.he {
  background-color: var(--6);
}

/* scheduler scheduler scheduler scheduler  */

.floating>main>.scheduler {
  display: flex;
  align-items: flex-start;
}

.floating>main>.scheduler>nav {
  display: flex;
  flex: 0 0 100px;
  flex-direction: column;
}

.floating>main>.scheduler>nav .drop {
  display: flex;
  text-align: center;
  flex-direction: column;
  cursor: pointer;
}

.floating>main>.scheduler>nav .drop span {
  font-weight: bold;
  padding: 10px 5px;
}

.floating>main>.scheduler>nav .drop:hover input {
  display: block;
}

.floating>main>.scheduler>nav .drop:hover label {
  display: block;
}

.floating>main>.scheduler>nav .drop>input {
  display: none;
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  justify-content: center;
}

.floating>main>.scheduler>nav .drop>label {
  display: none;
  border: none;
  background-color: rgb(226, 226, 226);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
}

.floating>main>.scheduler>nav .drop>input:hover {
  background-color: rgb(172, 172, 172);
}

.floating>main>.scheduler>.schedule-editor {
  display: flex;
  align-items: center;
  flex: 1;
}

/* TABLE */
.floating>main>.scheduler>nav .drop.gas>input.active-button,
.floating>main>.scheduler>nav .drop.bcm>input.active-button {
  background-color: darkblue;
  color: white;
}

.floating>main>.scheduler>nav .drop.ict>input.active-button,
.floating>main>.scheduler>nav .drop.bpe>input.active-button {
  background-color: darkred;
  color: white;
}

.floating>main>.scheduler>nav .drop.humss>input.active-button,
.floating>main>.scheduler>nav .drop.bae>input.active-button {
  background-color: darkgreen;
  color: white;
}

.floating>main>.scheduler>nav .drop.abm>input.active-button,
.floating>main>.scheduler>nav .drop.bse>input.active-button {
  background-color: rgb(30, 122, 115);
  color: white
}

.floating>main>.scheduler>nav .drop.ia>input.active-button,
.floating>main>.scheduler>nav .drop.btte>input.active-button {
  background-color: rgb(167, 53, 119);
  color: white
}

.floating>main>.scheduler>nav .drop.he>input.active-button {
  background-color: rgb(26, 134, 102);
  color: white
}

.floating>main>.scheduler>.schedule-editor>.schedule-table {
  display: none;
}

.floating>main>.scheduler>.schedule-editor>.schedule-table.show-table {
  display: flex;
  align-items: center;
  flex: 1;
}

.floating>main>.scheduler>nav .drop.gas>.span-toggle.active-span,
.floating>main>.scheduler>nav .drop.bcm>.span-toggle.active-span {
  background-color: darkblue;
  color: white;
}

.floating>main>.scheduler>nav .drop.ict>.span-toggle.active-span,
.floating>main>.scheduler>nav .drop.bpe>.span-toggle.active-span {
  background-color: darkred;
  color: white;
}

.floating>main>.scheduler>nav .drop.humss>.span-toggle.active-span,
.floating>main>.scheduler>nav .drop.bae>.span-toggle.active-span {
  background-color: darkgreen;
  color: white;
}

.floating>main>.scheduler>nav .drop.abm>.span-toggle.active-span,
.floating>main>.scheduler>nav .drop.bse>.span-toggle.active-span {
  background-color: rgb(30, 122, 115);
  color: white;
}

.floating>main>.scheduler>nav .drop.ia>.span-toggle.active-span,
.floating>main>.scheduler>nav .drop.btte>.span-toggle.active-span {
  background-color: rgb(167, 53, 119);
  color: white
}

.floating>main>.scheduler>nav .drop.he>.span-toggle.active-span {
  background-color: rgb(26, 134, 102);
  color: white
}