:root {
  --theme: #02001c;
  --mainContentBG: #efefef;
  --titleTheme: #070065;
  --titleEm: gray;
}

.content > .icons > .sidebar {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  background-color: transparent;
  color: var(--mainContentBG);
  cursor: pointer;
  z-index: 3;
}

.content > .icons > .sidebar:focus {
  border: none;
  outline: none;
}

.sidebar-nav {
  display: none;
  position: fixed;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  top: 0;
  bottom: 0;
  width: 100px;
  overflow-y: hidden;
  background-color: var(--theme);
  z-index: 2;
}

.sidebar-nav > .navigationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.sidebar-nav > .navigationContainer > .navigationItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: auto;
  padding: 20px 10px 20px;
}

.sidebar-nav > .navigationContainer > .navigationItem:hover {
  background-color: #4285f4;
}

.sidebar-nav > .navigationContainer > .navigationItem > a {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.sidebar-nav > .navigationContainer > .navigationItem > a > .badge {
  display: inline-flex;
  position: absolute;
  left: 60px;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: red;
  font-size: 12px;
}

.sidebar-nav > .navigationContainer > .navigationItem > a > i > span {
  display: flex;
  justify-content: center;
  font-style: normal;
}

@media only screen and (max-width: 800px) {
  .content > .icons > .sidebar {
    display: flex;
  }

  .sidebar-nav {
    display: none;
  }

  .sidebar-nav.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 64px;
    height: fit-content;
    position: fixed;
    background-color: var(--theme);
  }
}
