:root {
  --th-color: rgb(230, 230, 230);
}

/* table scroll style */

.floating > main::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.floating > main::-webkit-scrollbar-track {
  background: #dddddd;
}

/* Handle */
.floating > main::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.floating > main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* table design */

table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background-color: var(--th-color);
}
tbody {
}
th,
td {
  padding: 5px 10px;
  text-align: center;
}
/* for tables with multiple height */
td > p {
  margin: 0;
}
/*tables with important data*/
td.important {
  font-weight: bold;
}
