:root {
  --th-color: rgb(230, 230, 230);
  --alterColor: #eeeeee;
  --blue: rgb(59, 59, 235);
  --green: rgb(35, 134, 35);
  --gray: lightgray;
  --lavender: #DFC5FE;
  --taupe: #483C32;
  --beige: #A67A5B;
  --ivory: #FFFDD0;
  --teal: #00808D;
  --coral: #F08080;
  --yellow: #FDFD96;
  --mauve: #874C62;
}

/* table scroll style */

.floating>main::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.floating>main::-webkit-scrollbar-track {
  background: #dddddd;
}

/* Handle */
.floating>main::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.floating>main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* table design */

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  /* min-height: 50px; */
}

table.a thead {
  background-color: var(--th-color);
}

table.a th,
table.a td {
  padding: 5px 10px;
}

table.a tr:nth-child(even) {
  background-color: var(--alterColor);
}

table.b th,
table.b td,
table.b td a,
table.c th,
table.c td,
table.c td a {
  padding: 10px 20px;
}

table.b thead {
  margin: 10px;
}

.c>thead>tr>th,
.c>thead>tr>td,
.c>tbody>tr>th,
.c>tbody>tr>td {
  border: 1px solid black;
}

.c>tbody>tr>td>span {
  font-weight: 600;
}

/* for tables with multiple height */
td>p {
  margin: 0;
}

td>select {
  border: none;
  padding: 0px 5px;
  background-color: transparent;
}

/*tables with important data*/
td.important {
  font-weight: bold;
}

td>button.icon i {
  font-size: 20px;
  font-weight: bold;
}

/*MODIFIED CSS*/
table.a>tbody>tr>td>a>.bi-x-lg,
table.a>tbody>tr>td>a>.bi-check-lg {
  display: none;
}

table.a>tbody>tr>td>input {
  width: 50px;
  height: 20px;
  text-align: center;
}

table.c>tbody>tr>td {
  padding: 0;
}

table.c>tbody>tr>td>.day-element {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

table.c>tbody>tr>td>.task-blue,
table.c>tbody>tr>td>.task-green,
table.c>tbody>tr>td>.task-gray,
table.c>tbody>tr>td>.task-lavender,
table.c>tbody>tr>td>.task-yellow,
table.c>tbody>tr>td>.task-mauve,
table.c>tbody>tr>td>.task-teal,
table.c>tbody>tr>td>.task-ivory,
table.c>tbody>tr>td>.task-coral,
table.c>tbody>tr>td>.task-taupe,
table.c>tbody>tr>td>.task-beige {
  margin: 2px;
  border-radius: 5px;
  text-align: center;
}

.task-blue {
  background-color: rgb(59, 59, 235);
}

.task-green {
  background-color: rgb(35, 134, 35);
}

.task-gray {
  background-color: var(--gray);
}

.task-lavender {
  background-color: var(--lavender);
}

.task-yellow {
  background-color: var(--yellow);
}

.task-mauve {
  background-color: var(--mauve);
}

.task-teal {
  background-color: var(--teal);
}

.task-ivory {
  background-color: var(--ivory);
}

.task-coral {
  background-color: var(--coral);
}

.task-taupe {
  background-color: var(--taupe);
}

.task-beige {
  background-color: var(--beige);
}

.task-lavender>a,
.task-yellow>a,
.task-ivory>a {
  color: black;
}

.task-blue>a,
.task-green>a,
.task-gray>a,
.task-mauve>a,
.task-teal>a,
.task-coral>a,
.task-taupe>a,
.task-beige>a {
  color: white;
}


/*RESPONSIVE*/
@media only screen and (max-width: 1000px) {
  .floating>main>table.a {
    width: 1200px;
  }
}

@media only screen and (max-width: 768px) {
  table.a>tbody>tr>td>a>.bi-check-lg {
    display: inline-flex;
  }

  table.c>thead {
    display: none;
  }
}