:root {
  --th-color: rgb(230, 230, 230);
  --alterColor: #eeeeee;
}

/* table scroll style */

.floating > main::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.floating > main::-webkit-scrollbar-track {
  background: #dddddd;
}

/* Handle */
.floating > main::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.floating > main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* table design */

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  /* min-height: 50px; */
}

table.a thead {
  background-color: var(--th-color);
}

table.a th,
table.a td {
  padding: 5px 10px;
}

table.a tr:nth-child(even) {
  background-color: var(--alterColor);
}

table.b th,
table.b td,
table.b td a,
table.c th,
table.c td,
table.c td a {
  padding: 10px 20px;
}

table.b thead {
  margin: 10px;
}

.c > thead > tr > th,
.c > thead > tr > td,
.c > tbody > tr > th,
.c > tbody > tr > td {
  border: 1px solid black;
}

.c > tbody > tr > td > span {
  font-weight: 600;
}

/* for tables with multiple height */
td > p {
  margin: 0;
}

td > select {
  border: none;
  padding: 0px 5px;
  background-color: transparent;
}

/*tables with important data*/
td.important {
  font-weight: bold;
}

td > button.icon i {
  font-size: 20px;
  font-weight: bold;
}